.header{
    height: 70px;
    width: 100%;
    background-color: rgb(17, 13, 13);
    color: white;padding: 10px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding-right: 80px;
}
.header a{
    font-size: 20px;
    margin-left: 20px;
    padding-left: 40px;
   
}
.web-title a{
    font-size: 29px;
    font-weight: 900px;
}